// Media queries
$desktop          : 'max-width: 1920px';
$tablet-landscape : 'max-width: 1279px';
$tablet-portrait  : 'max-width: 992px';
$phone            : 'max-width: 576px';

// Z-index
$elements         : content, popup, header, overlay;