@use '../base/variables' as *;

/**
    Place your custom CSS here.
 */
*,
*:before,
*:after {
    position   : relative;
    box-sizing : border-box;
}

*:focus {
    outline : none;
}

input {
    height        : 4.8rem;
    width         : 40rem;
    padding       : 0 1.6rem;
    border-radius : .8rem;
    background    : rgba(255, 255, 255, .2);
    color         : var(--color-white);
    border        : .1rem solid transparent;
    transition    : all .2s ease-out;

    &::-webkit-calendar-picker-indicator {
        filter : invert(1);
    }

    &.error {
        border : .1rem solid var(--color-danger);
    }
}

body {
    margin                  : 0;
    width                   : 100%;
    padding                 : 0;
    background-color        : var(--body-background-color);
    font-family             : var(--font-primary);
    font-size               : var(--p-font-size);
    color                   : var(--body-font-color);
    transition              : all .2s ease-out;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;

    ::selection {
        background : var(--color-primary-400);
        color      : var(--color-white);
    }
}

a {
    text-decoration : none;
    color           : var(--color-primary-200);
    transition      : all .2s ease-out;

    &:hover {
        color : var(--color-primary-100);
    }
}

.container {
    margin    : 0 auto;
    max-width : 1920px;
}

.btn {
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    border-radius   : 3.2rem;
    height          : 6.4rem;
    padding         : 0 4.8rem;
    background      : var(--color-primary-400);
    cursor          : pointer;
    font-size       : 1.8rem;
    font-weight     : 800;
    text-decoration : none;
    color           : var(--color-white);
    transition      : all .2s ease-out;

    &.primary {
        background : var(--color-primary-400);

        &:hover {
            background : var(--color-primary-500);
        }
    }

    &.secondary {
        background : var(--color-secondary-400);
        color      : var(--color-white);

        &:hover {
            background : var(--color-secondary-100);
        }
    }
}

.scale-y-enter-from,
.scale-y-leave-to {
    opacity   : 0;
    transform : translateY(-.8rem);
}

.scale-y-enter-active,
.scale-y-leave-active {
    transform-origin : top;
    transition       : all .3s cubic-bezier(0.4, 0, 0.2, 1.1);
}

.fade-in-up-enter-active,
.fade-in-up-leave-active {
    transition : all .2s ease-out;
}

.fade-in-up-enter-from {
    opacity   : 0;
    transform : translateY(-2.4rem);
}

.fade-in-up-leave-to {
    opacity   : 0;
    transform : translateY(2.4rem);
}

